<footer class="footer">

    <div class="footer-col">
      <h4>Contáctanos</h4>
      <p>+324567898</p>
      <p>mymoviespace@gmail.com</p>
      <p>Augusto Leguía Sur 79, Las Condes</p>
    </div>
  
    <div class="footer-col center footer-logo-container">
      <a href="/" class="footer-logo">
        <img src="/images/logo.png"  class="footer-logo-img">
      </a>
      <a href="/contacto" class="soporte-link superpuesto">Soporte y Ayuda</a>
    </div>
  
    <div class="footer-col redes">
      <h4>Búscanos en redes</h4>
      <div class="social-icons">
        <a href="#"><img src="/images/instagram.svg" ></a>
        <a href="#"><img src="/images/youtube.svg" ></a>
      </div>
    </div>
  
    <div class="copyright">
      © 2025 Marta Trujillo
    </div>
  
  </footer>
  