<header class="header">
    <div class="logo">
      <a href="/" class="logo-link"><img src="/images/logo.png" class="logo-img"></a>
    </div>
  
    <nav class="nav">
      <a class="help" href="/contacto">¿Necesitas ayuda?</a>
      <a class="btn-main" href="/login">Inicia Sesión</a>

    </nav>
  </header>
  