<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mi Colección | MYMOVIESPACE</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="coleccion-body">

<main class="coleccion">
  
  <header class="header-coleccion">
    
    <div class="logo">
        <a href="/" class="logo-link"><img src="/images/logo.png" class="logo-img"></a>
    </div>
    
      <nav class="nav">
        <a href="/contacto" class="help">¿Necesitas ayuda?</a>
        <a href="/" class="btn-main">Cerrar Sesión</a>
      </nav>

    </header>


<h1>MI COLECCIÓN</h1>

<section class="peliculas-container">

  <section class="peliculas-grid">

    <div class="pelicula">
      <img src="/images/bladerunner.jpg" alt="Blade Runner">
      <h3>Blade Runner</h3>
      <a href="" class="btn-detalles">Ver detalles</a>
    </div>

    <div class="pelicula">
      <img src="/images/naranjamecanica.jpg" alt="naranja mecanica">
      <h3>Naranja Mecanica</h3>
      <a href="" class="btn-detalles">Ver detalles</a>
    </div>

    <div class="pelicula">
      <img src="/images/pulpfiction.jpg" alt="pulp fiction">
      <h3>Pulp Fiction</h3>
      <a href="" class="btn-detalles">Ver detalles</a>
    </div>

    <div class="pelicula">
      <img src="/images/lalaland.jpg" alt="lalaland">
      <h3>La La Land</h3>
      <a href="" class="btn-detalles">Ver detalles</a>
    </div>

    <div class="pelicula">
      <img src="/images/godfather.jpg" alt="godfather">
      <h3>The Godfather</h3>
      <a href="" class="btn-detalles">Ver detalles</a>
    </div>

    <div class="pelicula">
      <img src="/images/parasite.jpg" alt="parasite">
      <h3>Parasite</h3>
      <a href="" class="btn-detalles">Ver detalles</a>
    </div>

    <div class="pelicula">
      <img src="/images/interstellar.jpg" alt="interstellar">
      <h3>Interstellar</h3>
      <a href="" class="btn-detalles">Ver detalles</a>
    </div>

    <div class="pelicula">
      <img src="/images/amelie.jpg" alt="amelie">
      <h3>Amélie</h3>
      <a href="" class="btn-detalles">Ver detalles</a>
    </div>

  </section>
</section>
</main>

<%- include('partials/footer') %>

</body>
</html>
