<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMovieSpace - Inicio</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>




<body>
<%- include('partials/main-menu') %>

    

    <section class="hero">
        <div class="hero-content">
            <h1>GESTIONA TU COLECCIÓN DE PELÍCULAS CON ESTILO</h1>
            <a href="/login" class="btn-index">Entrar</a>
        </div>

        <img src="/images/camera.png" class="hero-img">
        
    </section>


    <section class="movies-section">
        <h2>Últimas películas añadidas</h2>

        <div class="movies-grid">
            <img src="/images/bladerunner.jpg" >
            <img src="/images/wickerman.jpg" >
            <img src="/images/naranjamecanica.jpg">
            <img src="/images/lebowski.jpg">
            <img src="/images/pulpfiction.jpg">
        </div>
    </section>


    <%- include('partials/footer') %>

</body>
</html>
