@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 26px;
  font-weight: 800;
}

.logo span {
  color: #ff0000;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.help {
  color: #ccc;
}

/* BOTONES */
.btn {
  padding: 10px 22px;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.btn-light {
  background: #d4d4d4;
  color: #000;
}

.btn-main {
  background: #d4d4d4;
  color: #000;
  margin-top: 20px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  gap: 40px;
}

.hero-content {
  max-width: 500px;
  text-align: center; 
}

.hero-content h1 {
  color: #ff0000;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-content .btn-main {
  display: inline-block;
  margin-top: 30px;     /* lo baja un poco más */
}

.hero-img {
  width: 380px;
  opacity: 0.8;
}

/* PELÍCULAS */
.movies-section {
  text-align: center;
  padding: 50px 0;
}

.movies-section h2 {
  font-family: 'Port Lligat Sans', sans-serif;
  margin-bottom: 30px;
  font-size: 22px;
}

.movies-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.movies-grid img {
  width: 140px;
  border-radius: 10px;
}

/* FOOTER */
.footer {
  margin-top: 60px;
  padding: 40px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer h4 {
  margin-bottom: 10px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.center {
  text-align: center;
}

.redes .social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icons img {
  width: 40px;
}

.copyright {
  text-align: center;
  padding: 15px;
  font-size: 14px;
  opacity: 0.7;
}
